@import 'antd/dist/antd.css';

body {
    margin-top: 60px;
}

#app {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.search-title {
    font-size: 3em;
    color: #557380;
    margin-bottom: 0.3em;
}

.search-input {
    width: 80%;
    margin-bottom: 30px;
}

.search-input input {
    font-size: 1.2em;
}

.search-upload {
    color: #bbb;
    font-size: 1.1em;
}

.search-upload button {
    padding: 0;
    font-size: 1.1em;
}

.search-panel {
    display: flex;
    background: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 800px;
}

.results-panel {
    width: 100%;
}

.paper-title {
    font-size: 1.4em;
    margin-bottom: 0;
    color: #35474f;
}

.paper-card {
    width: 100%;
    padding: 5px 20px;
    margin-bottom: 20px;
    background: #f9fafb;
}

.paper-links {
    margin-top: 0.2em;
    float: right;
}
