@import 'antd/dist/antd.css';

body {
    background-color: #f9fafb;
}

h1, h2, h3, h4, h5, h6 {font-weight: lighter;margin-bottom: 0.2em;}
h1 {font-size: 2.5em;}
h2 {font-size: 2em;}
h3 {font-size: 1.8em;}
h4 {font-size: 1.5em;}
h5 {font-size: 1.3em;}
h6 {font-size: 1em;}

#app {
    height: 100%;
}

.app-layout {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.content-section {
    display: flex;
    flex-direction: column;
    flex-grow: 5;
    justify-content: start;
    width: 100%;
    max-width: 1000px;
    height: 100%;
    background: #f9fafb;
}

.search-panel {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    width: 100%;
    max-width: 1000px;
    background-color: #f9fafb;
    min-height: 165px;
}

.projects-section {
    padding: 2em;
    padding-top: 165px;
    width: 300px;
    height: 100%;
    background-color: #f9fafb;
}

.content-panel {
    min-width: 400px;
    width: 100%;
    height: 100%;
    border-top: 1px solid #d9d9d9;
    padding-top: 10px;
}

.search-title {
    font-size: 2.5em;
    font-weight: lighter;
    margin-bottom: 0.1em;
}

.search-input {
    width: 100%;
    max-width: 1000px;
    margin-bottom: 30px;
}

.search-input input {
    font-size: 1.2em;
}

.search-upload {
    color: #bbb;
    font-size: 1.1em;
}

.search-upload button {
    padding: 0;
    font-size: 1.1em;
}

.paper-title {
    font-size: 1.4em;
    margin-bottom: 0;
    color: #35474f;
}

.paper-card {
    padding: 5px 20px;
    margin: 10px;
    background: #f9fafb;
    border: 1px solid #d9d9d9;
}

.paper-card-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.paper-actions {
    font-size: 1.5em;
    white-space: pre;
    color: #aaa;
}

.paper-actions .anticon:hover {
    color: rgb(24, 144, 255);
}

.paper-card .paper-actions .anticon {
    visibility: hidden;
}

.paper-card:hover .paper-actions .anticon, .paper-card .paper-actions .anticon.ant-popover-open {
    visibility: visible;
}

.loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.projects-list {
    width: 100%;
    border: 1px solid #d9d9d9;
}

.project-button {
    display: block;
    width: 100%;
    height: 4em;
    line-height: inherit;
    border: none;
    padding: 5px 30px;
}

.project-button.ant-radio-button-wrapper {
    background: #fff;
}

.project-button.ant-radio-button-wrapper.ant-radio-button-wrapper-checked,
.project-button.ant-radio-button-wrapper.ant-radio-button-wrapper-checked:hover {
    background: #b9b9b9;
    border: none;
    box-shadow: none;
}

.project-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    min-height: 100%;
}

.project-tabs-panel {
    margin-top: 2em;
}

.project-tabs-panel .ant-radio-group .ant-radio-button-wrapper {
    width: 130px;
    text-align: center;
}

.project-papers-panel {
    margin-top: 1em;
    background: #fff;
    min-height: 100%;
    border: 1px solid #d9d9d9;
}

.ant-skeleton {
    background: #fafafa;
    padding: 1em;
}

.paper-year {
    vertical-align: text-bottom;
}

.paper-tags {
    display: inline;
    padding-left: 10px;
}

.paper-tags span.ant-tag {
    cursor: pointer;
}

.paper-tags:hover span.ant-tag {
    background: #fff;
}

.paper-notes {
    margin-top: 10px;
    background: #fcfcff;
    border: 1px solid #d9d9d9;
    padding: 2px 10px;
    white-space: pre;
}

.paper-notes:hover {
    background: #fff;
}

.paper-edits-icon {
    padding-left: 10px;
    padding-right: 2px;
}

.paper-edits-icon:hover {
    background: #fff;
}

/* EasyEdit customization */

.paper-inline-edits {
    display: inline;
}

.paper-inline-edits .easy-edit-wrapper {
    display: inline;
}

.paper-edits .easy-edit-wrapper:hover, .paper-edits .easy-edit-wrapper.easy-edit-hover-on {
    border: none;
}

.paper-edits .easy-edit-inline-wrapper {
    margin-top: 10px;
}

.easy-edit-inline-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.easy-edit-component-wrapper {
    width: 100%;
}

.easy-edit-wrapper:hover, .easy-edit-wrapper.easy-edit-hover-on {
    font-style: normal;
    border: 1px solid #d9d9d9;
}

.easy-edit-component-wrapper input {
    background: #fff;
    border: 1px solid #d9d9d9;
    border-right: none;
    font-weight: lighter;
}

.easy-edit-button-wrapper {
    border: 1px solid #d9d9d9;
    background: #fff;
    min-width: 125px;
}

.easy-edit-button-wrapper button {
    font-size: 16px;
    background: #fff;
    margin: 0;
    width: 60px;
    height: 100%;
    vertical-align: text-bottom;
}

.easy-edit-validation-error {
    display: none;
}
